<section class="about" id="about">
    <div class="container">

        <div class="main-txt">
            <h1>Why to plan a Vacation with <span>Travel Buddy</span>?</h1>
        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-md-6 py-3 py-md-0">
                <div>
                    <img src="/image/HowItWorks.svg">
                </div>
            </div>

            <div class="col-md-6 py-3 py-md-0">
                <h2>How Travel Buddy Works</h2>
                <p>We are allowinng our users to customize their trip as per their convinence. Starting from
                    selection of Destination to Selection of their stays and managing their stay our user
                    can easily manage their Trip on their fingertips.</p>
                <br>
                <p> Starting from cheapest to expensive , our user will be able to go with any customization
                </p>
            </div>

        </div>

    </div>
</section>