<footer id="footer"  >
    <h1><span>Travel</span>Buddy</h1>
    <div class="social-links">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-pinterest-p"></i>
    </div>
    <div class="credit">
        <p>Designed By <a href="#" style="font-style: none;">TB Team</a></p>
    </div>
    <div class="copyright">
        <p>&copy;Copyright TB Team. All Rights Reserved</p>
    </div>
</footer>