<section class="gallary" id="gallary">
    <div class="container">

        <div class="main-txt">
            <h1><span>G</span>allery</h1>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card ">
                    <img src="image/Sikkim.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Sikkim</h1>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="image/kedarnath.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Kedarnath</h1>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="image/kashmir.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Kashmir</h1>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="image/Mumbai.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Mumbai</h1>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="image/Punjab.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Punjab</h1>
                        </div>
                         

                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="image/Delhi.jpg" alt="" height="230px" loading="lazy">
                    <div class="card-body-gallary">
                        <div class="main-txt">
                            <h1>Delhi</h1>
                        </div>
                         

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>