<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                
                    <img class="rounded img-fluid"
                    <% if (index%3 == 0) { %>
                        src="/image/places1.jpg" alt="">
                        <% }; %>
                        <% if (index%3 == 1) { %>
                            src="/image/places2.jpg" alt="">
                            <% }; %>
                            <% if (index%3 == 2) { %>
                                src="/image/places3.jpg" alt="">
                                <% }; %>
            </div>
            <div class="col-8">
                <span class="attraction rounded-pill">
                    <i class="fa-solid fa-map-location-dot"></i>
                    Attraction
                </span>
                <h6 class="title"><a href="<%= trip.hotel.url %>"
                        style="text-decoration: none;color:black ;" target="_blank">
                        <%= places[index].properties.name %>
                    </a></h6>
                <div class="row">
                    <div class="col">
                        <div class="date-text">
                            <%= trip_time %>:00
                        </div>
                    </div>
                    <div class="col">
                        <i class="fa-solid fa-arrow-right "></i>
                    </div>
                    <div class="col">
                        <div class="date-text">
                            <%= trip_time + 3 %>:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
