<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<<<<<<< HEAD
    <%= "Hello, " + data.user.name %>
=======
    <%= "Hello, " + data.user.name  %>
>>>>>>> ea40544671ce6a02adea3d4dd204db680de2030f
</body>

</html>
