<html>

<head>
    <%- include('layouts/header.ejs'); -%>

</head>

<body>


    <%- include('layouts/navbar.ejs'); -%>
        <section class="book" id="book" style="background-image: url('image/g5.jpg'); background-size: cover;">
            <div class="container">
                <div>
                    <div class="main-text">
                        <h1>Plan Your Next <span>Vaccation</span></h1>
                    </div>

                    <div class="row justify-content-center">

                        <div class="col-md-6 py-4 py-md-6">

                            <form action="/planning" id="myForm" method="post">
                                <!-- To give blur effect add this -->
                                <!-- style="backdrop-filter: blur(2px);" -->

                                <input type="text" class="form-control" id="destinationInput"
                                    placeholder="Enter destination" name="destination" list="destinationOptions"
                                    required>

                                <!-- <input type="text" id="destinationInput" class="form-control" name="destination"
                                    placeholder="Enter destination" list="destinationOptions" required> -->
                                <br>
                                <datalist id="destinationOptions">
                                </datalist>

                                <input type="date" class="form-control" name="startdate" id="startdate" required>
                                <br>
                                <input type="date" class="form-control" placeholder="End Date" id="enddate"
                                    name="enddate" required><br>
                                <input type="submit" class="submit" value="submit">

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <section class="services" id="services">
            <div class="container">

                <div class="main-txt">
                    <h1><span>S</span>ervices</h1>
                </div>

                <div class="row" style="margin-top: 30px;">

                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-hotel"></i>
                            <div class="card-body">
                                <h3>Hotels</h3>
                                <p>Friendly Stay</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-utensils"></i>
                            <div class="card-body">
                                <h3>Food & Drinks</h3>
                                <p>Hygenic and healthy food</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-bullhorn"></i>
                            <div class="card-body">
                                <h3>Safety Guide</h3>
                                <p>Your safety , our priority</p>
                            </div>
                        </div>

                    </div>



                </div>


                <div class="row" style="margin-top: 30px;">

                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-globe-asia"></i>
                            <div class="card-body">
                                <h3>Around The India</h3>
                                <p>Just travel and enjoy</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-plane"></i>
                            <div class="card-body">
                                <h3>Manage your trip</h3>
                                <p>Manage your trip according to your wish</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 py-3 py-md-0">

                        <div class="card">
                            <i class="fas fa-hiking"></i>
                            <div class="card-body">
                                <h3>Customization</h3>
                                <p>Customize your trip</p>
                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </section>
        <section class="gallary" id="gallary">
            <div class="container">

                <div class="main-txt">
                    <h1><span>G</span>allery</h1>
                </div>

                <div class="row" style="margin-top: 30px;">
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/Sikkim.jpg" alt="" height="230px">
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/kedarnath.jpg" alt="" height="230px">
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/kashmir.jpg" alt="" height="230px">
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 30px;">
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/Mumbai.jpg" alt="" height="230px">
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/Punjab.jpg" alt="" height="230px">
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card">
                            <img src="image/Delhi.jpg" alt="" height="230px">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Section Gallary End -->







        <!-- About Start -->
        <section class="about" id="about">
            <div class="container">

                <div class="main-txt">
                    <h1>Why to plan a Vacation with <span>Travel Buddy</span>?</h1>
                </div>

                <div class="row" style="margin-top: 50px;">

                    <div class="col-md-6 py-3 py-md-0">
                        <div class="card">
                            <img src="image/about-img.png" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 py-3 py-md-0">
                        <h2>How Travel Buddy Works</h2>
                        <p>We are allowinng our users to customize their trip as per their convinence. Starting from
                            selection of Destination to Selection of their stays and managing their stay our user
                            can easily manage their Trip on their fingertips.</p>
                        <br>
                        <p> Starting from cheapest to expensive , our user will be able to go with any customization
                        </p>
                    </div>

                </div>

            </div>
        </section>
        <%- include('layouts/footer.ejs'); -%>
            <script>

                const cities = [
                    'Adilabad',
                    'Anantapur',
                    'Chittoor',
                    'Kakinada',
                    'Guntur',
                    'Hyderabad',
                    'Karimnagar',
                    'Khammam',
                    'Krishna',
                    'Kurnool',
                    'Mahbubnagar',
                    'Medak',
                    'Nalgonda',
                    'Nizamabad',
                    'Ongole',
                    'Hyderabad',
                    'Srikakulam',
                    'Nellore',
                    'Visakhapatnam',
                    'Vizianagaram',
                    'Warangal',
                    'Eluru',
                    'Kadapa', 'Anjaw',
                    'Changlang',
                    'East Siang',
                    'Kurung Kumey',
                    'Lohit',
                    'Lower Dibang Valley',
                    'Lower Subansiri',
                    'Papum Pare',
                    'Tawang',
                    'Tirap',
                    'Dibang Valley',
                    'Upper Siang',
                    'Upper Subansiri',
                    'West Kameng',
                    'West Siang', 'Baksa',
                    'Barpeta',
                    'Bongaigaon',
                    'Cachar',
                    'Chirang',
                    'Darrang',
                    'Dhemaji',
                    'Dima Hasao',
                    'Dhubri',
                    'Dibrugarh',
                    'Goalpara',
                    'Golaghat',
                    'Hailakandi',
                    'Jorhat',
                    'Kamrup',
                    'Kamrup Metropolitan',
                    'Karbi Anglong',
                    'Karimganj',
                    'Kokrajhar',
                    'Lakhimpur',
                    'Marigaon',
                    'Nagaon',
                    'Nalbari',
                    'Sibsagar',
                    'Sonitpur',
                    'Tinsukia',
                    'Udalguri',
                    'Araria',
                    'Arwal',
                    'Aurangabad',
                    'Banka',
                    'Begusarai',
                    'Bhagalpur',
                    'Bhojpur',
                    'Buxar',
                    'Darbhanga',
                    'East Champaran',
                    'Gaya',
                    'Gopalganj',
                    'Jamui',
                    'Jehanabad',
                    'Kaimur',
                    'Katihar',
                    'Khagaria',
                    'Kishanganj',
                    'Lakhisarai',
                    'Madhepura',
                    'Madhubani',
                    'Munger',
                    'Muzaffarpur',
                    'Nalanda',
                    'Nawada',
                    'Patna',
                    'Purnia',
                    'Rohtas',
                    'Saharsa',
                    'Samastipur',
                    'Saran',
                    'Sheikhpura',
                    'Sheohar',
                    'Sitamarhi',
                    'Siwan',
                    'Supaul',
                    'Vaishali',
                    'West Champaran',
                    'Chandigarh', 'Bastar',
                    'Bijapur',
                    'Bilaspur',
                    'Dantewada',
                    'Dhamtari',
                    'Durg',
                    'Jashpur',
                    'Janjgir-Champa',
                    'Korba',
                    'Koriya',
                    'Kanker',
                    'Kabirdham (Kawardha)',
                    'Mahasamund',
                    'Narayanpur',
                    'Raigarh',
                    'Rajnandgaon',
                    'Raipur',
                    'Surguja', 'Dadra and Nagar Haveli', 'Daman',
                    'Diu',
                    'Delhi',
                    'North Goa',
                    'South Goa', 'Ahmedabad',
                    'Amreli district',
                    'Anand',
                    'Banaskantha',
                    'Bharuch',
                    'Bhavnagar',
                    'Dahod',
                    'The Dangs',
                    'Gandhinagar',
                    'Jamnagar',
                    'Junagadh',
                    'Kutch',
                    'Kheda',
                    'Mehsana',
                    'Narmada',
                    'Navsari',
                    'Patan',
                    'Panchmahal',
                    'Porbandar',
                    'Rajkot',
                    'Sabarkantha',
                    'Surendranagar',
                    'Surat',
                    'Vyara',
                    'Vadodara',
                    'Valsad',
                    'Ambala',
                    'Bhiwani',
                    'Faridabad',
                    'Fatehabad',
                    'Gurgaon',
                    'Hissar',
                    'Jhajjar',
                    'Jind',
                    'Karnal',
                    'Kaithal',
                    'Kurukshetra',
                    'Mahendragarh',
                    'Mewat',
                    'Palwal',
                    'Panchkula',
                    'Panipat',
                    'Rewari',
                    'Rohtak',
                    'Sirsa',
                    'Sonipat',
                    'Yamuna Nagar', 'Bilaspur',
                    'Chamba',
                    'Hamirpur',
                    'Kangra',
                    'Kinnaur',
                    'Kullu',
                    'Lahaul and Spiti',
                    'Mandi',
                    'Shimla',
                    'Sirmaur',
                    'Solan',
                    'Una',
                    'Anantnag',
                    'Badgam',
                    'Bandipora',
                    'Baramulla',
                    'Doda',
                    'Ganderbal',
                    'Jammu',
                    'Kargil',
                    'Kathua',
                    'Kishtwar',
                    'Kupwara',
                    'Kulgam',
                    'Leh',
                    'Poonch',
                    'Pulwama',
                    'Rajauri',
                    'Ramban',
                    'Reasi',
                    'Samba',
                    'Shopian',
                    'Srinagar',
                    'Udhampur',


                    'Bokaro',
                    'Chatra',
                    'Deoghar',
                    'Dhanbad',
                    'Dumka',
                    'East Singhbhum',
                    'Garhwa',
                    'Giridih',
                    'Godda',
                    'Gumla',
                    'Hazaribag',
                    'Jamtara',
                    'Khunti',
                    'Koderma',
                    'Latehar',
                    'Lohardaga',
                    'Pakur',
                    'Palamu',
                    'Ramgarh',
                    'Ranchi',
                    'Sahibganj',
                    'Seraikela Kharsawan',
                    'Simdega',
                    'West Singhbhum',

                    'Bagalkot',
                    'Bangalore Rural',
                    'Bangalore Urban',
                    'Belgaum',
                    'Bellary',
                    'Bidar',
                    'Bijapur',
                    'Chamarajnagar',
                    'Chikkamagaluru',
                    'Chikkaballapur',
                    'Chitradurga',
                    'Davanagere',
                    'Dharwad',
                    'Dakshina Kannada',
                    'Gadag',
                    'Gulbarga',
                    'Hassan',
                    'Haveri district',
                    'Kodagu',
                    'Kolar',
                    'Koppal',
                    'Mandya',
                    'Mysore',
                    'Raichur',
                    'Shimoga',
                    'Tumkur',
                    'Udupi',
                    'Uttara Kannada',
                    'Ramanagara',
                    'Yadgir',

                    'Alappuzha',
                    'Ernakulam',
                    'Idukki',
                    'Kannur',
                    'Kasaragod',
                    'Kollam',
                    'Kottayam',
                    'Kozhikode',
                    'Malappuram',
                    'Palakkad',
                    'Pathanamthitta',
                    'Thrissur',
                    'Thiruvananthapuram',
                    'Wayanad',

                    'Alirajpur',
                    'Anuppur',
                    'Ashok Nagar',
                    'Balaghat',
                    'Barwani',
                    'Betul',
                    'Bhind',
                    'Bhopal',
                    'Burhanpur',
                    'Chhatarpur',
                    'Chhindwara',
                    'Damoh',
                    'Datia',
                    'Dewas',
                    'Dhar',
                    'Dindori',
                    'Guna',
                    'Gwalior',
                    'Harda',
                    'Hoshangabad',
                    'Indore',
                    'Jabalpur',
                    'Jhabua',
                    'Katni',
                    'Khandwa (East Nimar)',
                    'Khargone (West Nimar)',
                    'Mandla',
                    'Mandsaur',
                    'Morena',
                    'Narsinghpur',
                    'Neemuch',
                    'Panna',
                    'Rewa',
                    'Rajgarh',
                    'Ratlam',
                    'Raisen',
                    'Sagar',
                    'Satna',
                    'Sehore',
                    'Seoni',
                    'Shahdol',
                    'Shajapur',
                    'Sheopur',
                    'Shivpuri',
                    'Sidhi',
                    'Singrauli',
                    'Tikamgarh',
                    'Ujjain',
                    'Umaria',
                    'Vidisha',

                    'Ahmednagar',
                    'Akola',
                    'Amravati',
                    'Aurangabad',
                    'Bhandara',
                    'Beed',
                    'Buldhana',
                    'Chandrapur',
                    'Dhule',
                    'Gadchiroli',
                    'Gondia',
                    'Hingoli',
                    'Jalgaon',
                    'Jalna',
                    'Kolhapur',
                    'Latur',
                    'Mumbai',

                    'Nandurbar',
                    'Nanded',
                    'Nagpur',
                    'Nashik',
                    'Osmanabad',
                    'Parbhani',
                    'Pune',
                    'Raigad',
                    'Ratnagiri',
                    'Sindhudurg',
                    'Sangli',
                    'Solapur',
                    'Satara',
                    'Thane',
                    'Wardha',
                    'Washim',
                    'Yavatmal',

                    'Bishnupur',
                    'Churachandpur',
                    'Chandel',
                    'Imphal East',
                    'Senapati',
                    'Tamenglong',
                    'Thoubal',
                    'Ukhrul',
                    'Imphal West',


                    'East Garo Hills',
                    'East Khasi Hills',
                    'Jaintia Hills',
                    'Ri Bhoi',
                    'South Garo Hills',
                    'West Garo Hills',
                    'West Khasi Hills',

                    'Aizawl',
                    'Champhai',
                    'Kolasib',
                    'Lawngtlai',
                    'Lunglei',
                    'Mamit',
                    'Saiha',
                    'Serchhip',

                    'Dimapur',
                    'Kohima',
                    'Mokokchung',
                    'Mon',
                    'Phek',
                    'Tuensang',
                    'Wokha',
                    'Zunheboto',

                    'Angul',
                    'Boudh (Bauda)',
                    'Bhadrak',
                    'Balangir',
                    'Bargarh (Baragarh)',
                    'Balasore',
                    'Cuttack',
                    'Debagarh (Deogarh)',
                    'Dhenkanal',
                    'Ganjam',
                    'Gajapati',
                    'Jharsuguda',
                    'Jajpur',
                    'Jagatsinghpur',
                    'Khordha',
                    'Kendujhar (Keonjhar)',
                    'Kalahandi',
                    'Kandhamal',
                    'Koraput',
                    'Kendrapara',
                    'Malkangiri',
                    'Mayurbhanj',
                    'Nabarangpur',
                    'Nuapada',
                    'Nayagarh',
                    'Puri',
                    'Rayagada',
                    'Sambalpur',
                    'Subarnapur (Sonepur)',
                    'Sundergarh',

                    'Karaikal',
                    'Mahe',
                    'Pondicherry',
                    'Yanam',

                    'Amritsar',
                    'Barnala',
                    'Bathinda',
                    'Firozpur',
                    'Faridkot',
                    'Fatehgarh Sahib',
                    'Fazilka',
                    'Gurdaspur',
                    'Hoshiarpur',
                    'Jalandhar',
                    'Kapurthala',
                    'Ludhiana',
                    'Mansa',
                    'Moga',
                    'Sri Muktsar Sahib',
                    'Pathankot',
                    'Patiala',
                    'Rupnagar',
                    'Ajitgarh (Mohali)',
                    'Sangrur',
                    'Nawanshahr',
                    'Tarn Taran',

                    'Ajmer',
                    'Alwar',
                    'Bikaner',
                    'Barmer',
                    'Banswara',
                    'Bharatpur',
                    'Baran',
                    'Bundi',
                    'Bhilwara',
                    'Churu',
                    'Chittorgarh',
                    'Dausa',
                    'Dholpur',
                    'Dungapur',
                    'Ganganagar',
                    'Hanumangarh',
                    'Jhunjhunu',
                    'Jalore',
                    'Jodhpur',
                    'Jaipur',
                    'Jaisalmer',
                    'Jhalawar',
                    'Karauli',
                    'Kota',
                    'Nagaur',
                    'Pali',
                    'Pratapgarh',
                    'Rajsamand',
                    'Sikar',
                    'Sawai Madhopur',
                    'Sirohi',
                    'Tonk',
                    'Udaipur',

                    'East Sikkim',
                    'North Sikkim',
                    'South Sikkim',
                    'West Sikkim',

                    'Ariyalur',
                    'Chennai',
                    'Coimbatore',
                    'Cuddalore',
                    'Dharmapuri',
                    'Dindigul',
                    'Erode',
                    'Kanchipuram',
                    'Kanyakumari',
                    'Karur',
                    'Madurai',
                    'Nagapattinam',
                    'Nilgiris',
                    'Namakkal',
                    'Perambalur',
                    'Pudukkottai',
                    'Ramanathapuram',
                    'Salem',
                    'Sivaganga',
                    'Tirupur',
                    'Tiruchirappalli',
                    'Theni',
                    'Tirunelveli',
                    'Thanjavur',
                    'Thoothukudi',
                    'Tiruvallur',
                    'Tiruvarur',
                    'Tiruvannamalai',
                    'Vellore',
                    'Viluppuram',
                    'Virudhunagar',

                    'Dhalai',
                    'North Tripura',
                    'South Tripura',
                    'Khowai',
                    'West Tripura',

                    'Agra',
                    'Allahabad',
                    'Aligarh',
                    'Ambedkar Nagar',
                    'Auraiya',
                    'Azamgarh',
                    'Barabanki',
                    'Budaun',
                    'Bagpat',
                    'Bahraich',
                    'Bijnor',
                    'Ballia',
                    'Banda',
                    'Balrampur',
                    'Bareilly',
                    'Basti',
                    'Bulandshahr',
                    'Chandauli',
                    'Chhatrapati Shahuji Maharaj Nagar',
                    'Chitrakoot',
                    'Deoria',
                    'Etah',
                    'Kanshi Ram Nagar',
                    'Etawah',
                    'Firozabad',
                    'Farrukhabad',
                    'Fatehpur',
                    'Faizabad',
                    'Gautam Buddh Nagar',
                    'Gonda',
                    'Ghazipur',
                    'Gorakhpur',
                    'Ghaziabad',
                    'Hamirpur',
                    'Hardoi',
                    'Mahamaya Nagar',
                    'Jhansi',
                    'Jalaun',
                    'Jyotiba Phule Nagar',
                    'Jaunpur district',
                    'Ramabai Nagar (Kanpur Dehat)',
                    'Kannauj',
                    'Kanpur',
                    'Kaushambi',
                    'Kushinagar',
                    'Lalitpur',
                    'Lakhimpur Kheri',
                    'Lucknow',
                    'Mau',
                    'Meerut',
                    'Maharajganj',
                    'Mahoba',
                    'Mirzapur',
                    'Moradabad',
                    'Mainpuri',
                    'Mathura',
                    'Muzaffarnagar',
                    'Panchsheel Nagar district (Hapur)',
                    'Pilibhit',
                    'Shamli',
                    'Pratapgarh',
                    'Rampur',
                    'Raebareli',
                    'Saharanpur',
                    'Sitapur',
                    'Shahjahanpur',
                    'Sant Kabir Nagar',
                    'Siddharthnagar',
                    'Sonbhadra',
                    'Sant Ravidas Nagar',
                    'Sultanpur',
                    'Shravasti',
                    'Unnao',
                    'Varanasi',

                    'Almora',
                    'Bageshwar',
                    'Chamoli',
                    'Champawat',
                    'Dehradun',
                    'Haridwar',
                    'Nainital',
                    'Pauri Garhwal',
                    'Pithoragarh',
                    'Rudraprayag',
                    'Tehri Garhwal',
                    'Udham Singh Nagar',
                    'Uttarkashi',

                    'Birbhum',
                    'Bankura',
                    'Bardhaman',
                    'Darjeeling',
                    'Dakshin Dinajpur',
                    'Hooghly',
                    'Howrah',
                    'Jalpaiguri',
                    'Cooch Behar',
                    'Kolkata',
                    'Maldah',
                    'Paschim Medinipur',
                    'Purba Medinipur',
                    'Murshidabad',
                    'Nadia',
                    'North 24 Parganas',
                    'South 24 Parganas',
                    'Purulia',
                    'Uttar Dinajpur',
                ];
                const datalist = document.getElementById("destinationOptions");
                // Function to generate datalist options
                function generateOptions() {
                    datalist.innerHTML = ""; // Clear existing options

                    cities.forEach((city) => {
                        const option = document.createElement("option");
                        option.value = city;
                        datalist.appendChild(option);
                    });
                }
                generateOptions();
                const form = document.getElementById("myForm");
                form.addEventListener("submit", function (event) {
                    const destinationInput = document.getElementById("destinationInput");
                    const selectedOption = document.querySelector("#destinationOptions option[value='" + destinationInput.value + "']");
                    const startdate = new Date(document.getElementById('startdate').value)
                    const enddate = new Date(document.getElementById('enddate').value)
                    if (!selectedOption) {
                        event.preventDefault();
                        alert("Please select a valid city from the options.");
                    }
                    if (startdate >= enddate) {
                        event.preventDefault()
                        alert("Please select a valid date.")
                    }
                });
            </script>
</body>

</html>