<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<style>
    body {
        background-image: url("image/b6.jpg");
    }
</style>

<body>
    <div class=" container">
        <div class="row ">
            <div class="col mt-4 ">
                <div class="banner-btn float-right">
                    <a href="/login">Log In</a>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center h-100 cards">
            <div class="card content">

                <div class="card-header">
                    <div class="d-flex justify-content-center">

                        <p class="h1"> Travel <span>Guide</span></p>
                    </div>
                    <div class="d-flex justify-content-center">

                        <p class="h3"> Want to travel India ,<br>Travel with<br><span> Travel Buddy</span> </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">

                    <div class="banner-btn">
                        <a href="/registration">Explore</a>

                    </div>

                </div>
            </div>
        </div>
</body>

</html>