<form action="/registration" method="post">
    <section>
        <label for="username">Email</label>
        <input id="username" name="username" type="emai" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" autocomplete="name" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sigup</button>
</form>