<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Sign up </title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        .content {
            color: #fff;
        }

        .h1 {
            font-family: 'Times New Roman';
            /* font-size: 50px; */
            letter-spacing: 2px;
        }

        body {
            background-image: url('/image/b2.jpg');
        }

        .content .cn {

            background: rgb(8, 141, 170);
            border: none;

            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            transition: .4s ease;

        }

        .content span {
            color: rgb(8, 141, 170);
            font-size: 50px
        }

        .cn:hover {
            background-color: #fff;
        }

        .content .cn a {
            text-decoration: none;
            color: #000;
            transition: .3s ease;
        }


        @media (max-width: 1000px) {

            .content {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-around h-100 cards">

            <div class="card">
                <div class="card-header ">
                    <h3>Sign Up</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form action="registration" method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Email">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="current-password" name="password"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Sign Up" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a href="login">Log In</a>
                    </div>
                    <!-- <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $('#submit').click(() => {
                if ($('#username').val() == '') {
                    alert('Please enter username')
                    return false
                }
                if ($('#name').val() == '') {
                    alert('Please enter name')
                    return false
                }

                if ($('#current-password').val() == '') {
                    alert('Please enter password')
                    return false
                }
                if($('#current-password').val().length < 8){
                    alert('Password must be at least 8 characters long')
                    return false
                }
                return true
            }
            )
        });
    </script>

</body>

</html>