 #city-shuffle {
   padding: 10px;
   background: #f9f9f9;
   /* background-image: url("/image/maps.svg"); */
   background-image: url("/image/map.jpg");
   object-fit: cover;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .section {
   padding: 10px;
   background: #f9f9f9;

 }

 .section .card {
   border-radius: 10px;
 }

 .section .card img {
   border-radius: 10px;
 }

 .section h2 {
   font-weight: 600;
   letter-spacing: 1px;
 }

 .section p {
   font-weight: 500;
 }

 #duration-btn {
   width: 150px;
   height: 38px;
   border: none;
   border-radius: 5px;
   background: rgb(116, 222, 246);
   color: white;
   letter-spacing: 2px;
   font-weight: 550;
   transition: 0.5s ease;
   cursor: pointer;
 }

 #duration-btn:hover {
   width: 170px;
 }

 .card-text {
   border-bottom: 1px solid black;
   color: white;
   font-size: 20px;
 }

 /* .card mb-4{
    border:20px;
  } */
 @media (max-width:765px) {
   .section {
     padding: 0;

   }

   .map {
     display: none;
   }
 }

 @media (max-width:1000px) {
   .section {
     padding: 0;
   }

   .map {
     display: none;
   }

   .main {
     justify-content: center;
   }
 }

 .previous {
   background-color: #f1f1f1;
   color: black;
   text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
 }

 .next {
   background-color: rgb(112, 218, 241);
   color: black;
   text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
 }

 .next:hover .previous:hover {
   background-color: #ddd;
   color: black;
 }

 .about {
   margin-top: 0px;
   padding: 0%;

 }